/* ----------------- FONT ----------------- */
@font-face {
  font-family: "Menu";
  src: url("/assets/Granada-7BPdE.otf");
}
@font-face {
  font-family: "Name";
  src: url("/assets/NevradaNeue-x3oPq.otf");
}
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
/* ----------------- Color Pallete ----------------- */
:root {
  --primary-color: #f7f5dd;
  --secondary-color: #c71841;
  --complimentary-color: #e2979c;
  --contrast-color: #f2e527;
  --light-color: #9bdeac;
  --mono-color: #303960;
}

/* ----------------- CSS: Navbar ----------------- */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
nav a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

nav p {
  font-size: 15px;
  font-family: "Menu";
}
nav {
  position: fixed;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background: var(--secondary-color);
}
/* ----------------- CSS: Page 1 ----------------- */
#first {
  background: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#first .block-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 80px;
  width: 60%;
}
/* #first .block-1 img {
  width: 35%;
} */
#first .block-1 h1 {
  font-size: 60px;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 0;
  font-family: "Name";
  font-weight: lighter;
  color: var(--secondary-color);
  /* margin-right: 100px; */
}
#first .block-1 h2 {
  font-size: 20px;
  /* margin-right: 300px; */
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  color: var(--mono-color);
}
#first .block-2 {
  width: 20%;
  padding: 20px;
}
#first .block-2 h2 {
  font-family: "Menu";
  font-size: 35px;
  font-weight: lighter;
  color: var(--secondary-color);
  margin-bottom: 20px;
  margin-left: 10px;
}
#first .fa {
  padding: 15px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: var(--mono-color);
}
.fa:hover {
  opacity: 0.7;
}
#first .social-media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* ----------------- CSS: Page 2 ----------------- */
#second {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
#second .block-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  padding-left: 120px;
}
#second .block-1 h1 {
  font-size: 80px;
  font-weight: lighter;
  font-family: "Name";
  background-color: var(--complimentary-color);
  margin-bottom: 10px;
}
#second .block-1 p {
  line-height: 2;
  margin: 0;
  padding-left: 5px;
}
#second .block-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  padding-left: 120px;
  margin-bottom: 0;
}
#second .block-2 div {
  margin: auto 20px;
}
#second .block-2 h2 {
  font-family: "Menu";
  font-size: 30px;
  font-weight: lighter;
}
/* ----------------- CSS: Page 3 ----------------- */
#third {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 120px;
}
#third .block-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
}
#third h1 {
  font-family: "Name";
  font-size: 60px;
  font-weight: lighter;
  color: var(--secondary-color);
}
#third .block-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
#third .block-2 .image {
  width: 25%;
  margin: 10px;
  background: var(--complimentary-color);
  padding: 10px;
}
#third .block-2 h2 {
  font-family: "IBM Plex Mono", monospace;
  color: var(--mono-color);
}
#third .block-2 img {
  width: 100%;
}

/* ----------------- CSS: Page 4 ----------------- */
#fourth {
  display: flex;
  flex-wrap: wrap;
  padding-left: 120px;
}
#fourth .block-1 h1 {
  font-size: 80px;
  font-weight: lighter;
  font-family: "Name";
  background-color: var(--complimentary-color);
}
#fourth .block-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#fourth .block-2 .hobby {
  width: 45%;
  background: rgba(247, 245, 221, 0.5);
  margin: 10px;
  padding: 15px;
}
#fourth .block-2 h2 {
  font-family: "Menu";
  font-weight: lighter;
  font-size: 40px;
  color: var(--mono-color);
}
#fourth .block-2 img {
  width: 50%;
  border-radius: 50%;
}

/* ----------------- CSS: Page 5 ----------------- */
#fifth {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 120px;
  align-content: center;
}
#fifth h1 {
  text-align: center;
  font-family: "Name";
  font-weight: lighter;
  color: var(--mono-color);
  font-size: 50px;
  margin-bottom: 5px;
}
#fifth .block-2 form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#fifth .block-2 input {
  height: 30px;
  border: 0;
  background: var(--primary-color);
  width: 400px;
}
#fifth .block-2 h3 {
  margin-bottom: 0;
  font-family: "Menu";
  font-weight: lighter;
  font-size: 30px;
}
#fifth .block-2 textarea {
  border: 0;
}
#fifth .block-2 #button {
  background: var(--mono-color);
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
  font-family: "Name";
  font-size: 30px;
  color: var(--primary-color);
  padding: 5px 5px;
  height: fit-content;
}
